
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Noto+Sans:wght@600&family=Open+Sans:wght@500&family=Passions+Conflict&family=Roboto+Condensed&display=swap');
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;   
        
}
.peak{
   overflow-x: hidden; 
}
nav img{
    height: 80px;
    width: 80px;
    
}
#zero{
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.container-fluid{
    margin-left: 700px;
}
nav a{
    padding-left: 100px;
    font-weight:bolder;
   
    margin-left: 30px;
}
nav p{
    padding-left: 100px;
   
    margin-left: -55px;
}
#one{
        
        margin-left: 5.5rem!important;
   }
   .row{
    margin-top: 6rem!important;
   }
 #image h2{
    
    font-size: 150px;
    font-weight: bold;
    margin-bottom: -90px;
    color: green;

 }
 #image h1{
    font-family: 'Passions Conflict', cursive;
    font-size: 150px;
    font-weight: bold;
    margin-bottom: -50px;
    color: green;
 }
 #image button{
    border-radius: 20px;
 }
 .container1{
    background-color: rgb(253, 238, 228);
 }
.marg{
    margin: auto;
}